body {
    font-family: 'Arvo', serif;
}

.container {
    max-width: 800px;
    margin: auto;
}

.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

.footer {
    margin-top: 80px;
}

.footer-links {
    text-align: right;
}

.footer-links a {
    color: #555;
    font-size: 14px;
}

.form label {
    display: block;
    font-size: 13px;
}

.auth-form {
    width: 300px;
    margin: 100px auto 0;
}

.flashes {
    background: #000;
    list-style: none;
}

.flashes li {
    display: block;
    padding: 10px;
    border: 1px solid #cccccc;
    background: #f3f3f3;
}

.controls {
    float: right;
    text-align: right;
}

.month-controls {
    background: #e6e6e6;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.61);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.61);
    border: 3px solid #151515;
}

select#month {
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 0;
}

.switcher {
    display: inline-block;
    width: 24px;
    /*height: 24px;*/
    text-align: center;
    text-decoration: none;
    background: #151515;
    color: white;
    padding: 4px;
    font-weight: bold;
}

.graph {
    margin: 40px 0 0;
}
