<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>humid.io</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/app.css') }}" >
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </div>

    {% block body_bottom %}
    {% endblock %}
</body>
</html>
