<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}humid.io{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/app.css') }}" >
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

    <script src="{{ url_for('static', filename = 'js/lib/jquery-3.2.1.min.js') }}"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">

        {% include "header.html" %}

        {% include "notifications.html" %}

        {% block content %}
        {% endblock %}


        {% include "footer.html" %}

    </div>


    {% block body_bottom %}
    {% endblock %}
</body>
</html>
