{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for('static', filename = 'js/lib/chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="header">
        <div class="brand">
            <h2 class="brand-title">humud.io</h2>
        </div>
    </div>
    <p>
        Hello, {{ current_user.username }}! Here you can view the temperature in London for some time period. You can filter results by month.
    </p>

    Look at this graph!
    <div class="controls">
        <div class="month-controls">
            <a href="#" class="prev switcher" data-shift="-1"><</a>
            <select name="month" id="month">
                <option value="Sep 2017">Sep 2017</option>
                <option value="Oct 2017">Oct 2017</option>
                <option value="Nov 2017">Nov 2017</option>
            </select>
            <a href="#" class="next switcher" data-shift="1">></a>
        </div>

    </div>
    <div class="graph">
{#        <svg id="graph" width="100%" height="400px"></svg>#}
        <canvas id="graph" width="800" height="400"></canvas>
    </div>

    <div class="footer">
        <div class="footer-links">
            <a href="/logout">sign out</a>
        </div>
    </div>
{% endblock %}