{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for('static', filename = 'js/lib/chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="header">
        <div class="brand">
            <h2 class="brand-title">humud.io</h2>
        </div>
    </div>
    <p>
        Hello, {{ current_user.username }}! Here you can view the temperature in London for some time period. You can filter results by date (month and year).
    </p>

    Look at this graph!
    <div class="controls">
        month:
        <select name="month" id="month">
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        
        year:
        <input type="text" name="year">
        <a href="#" class="btn" id></a>
    </div>
    <div class="graph">
{#        <svg id="graph" width="100%" height="400px"></svg>#}
        <canvas id="graph" width="800" height="400"></canvas>
    </div>

    <div class="footer">
        <div class="footer-links">
            <a href="/logout">sign out</a>
        </div>
    </div>
{% endblock %}